input[type="checkbox"] {
	display: none;
}
input[type="checkbox"] + label {
	vertical-align: middle;
	cursor: pointer;
	font-size: 1em;
}
#checkSwitch + label {
	background-color: #FFF;
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
	margin-right: 30px;
	width: 40px;
	height: 15px;
}
#checkSwitch + label:after {
	content: ' ';
	position: absolute;
	background: #E6332C;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 100px;
	box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}
#checkSwitch + label:before {
	content: ' ';
	position: absolute;
	background: white;
	top: 2px;
	left: 2px;
	z-index: 99999;
	width: 29px;
	height: 29px;
	border-radius: 100px;
	box-shadow: 0 0 2px rgba(0,0,0,0.5), inset 0 -18px 15px -10px rgba(0,0,0,0.05);
}
#checkSwitch + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}
#checkSwitch:checked + label:before {
	content: ' ';
	position: absolute;
	left: 27px;
	border-radius: 100px;
}
#checkSwitch + label {
	overflow: hidden;
}
#checkSwitch:checked + label:after {
	content: ' ';
	font-size: 1.5em;
	position: absolute;
	background: #00cc00;
}